<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="well" id="new-post">
                <%= link_to 'New Post', new_post_path %>
            </div>
        </div>
        <div class="col-md-3"><br>
            <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Post" %>
            <%= submit_tag "Search", :name => nil %>
            <% end %><br>
        </div>
    </div>
</div><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="well" id="lib">
                <h5><strong>Recent Library Resources:</strong></h5>
                <% @libraries.reverse.each do |lib| %>
                  <div class="well" id="liblink">
                    <%= link_to lib do %>
                      <h3><%= lib.title %></h3>
                      <p>
                        <%= lib.description %>
                      </p>
                    <% end %>
                    <%= lib.tags %>
                   <br>
                  </div><br>
                <% end %>
                <br>
            </div>
        </div>
        <div class="col-md-6">
            <% if @posts.blank? %>
              <h1>There are no posts containing the term <%= params[:search] %>.</h1>
            <% end %>
            <%= render '/posts/formlink' %>
        </div>
        <div class="col-md-3">
                <iframe  src="https://www.eventbrite.com/calendar-widget?eid=49555874956&showPrivate=1&sig=AGbIMNwSRf7NNygX_0MRQp1uxk5s-nKqaA" height="360" width="235" marginwidth="20" scrolling="yes" allowtransparency="true"></iframe>
        </div>
    </div>
</div>


     